body{
    background-color: #abf5bf;
    border-style: solid;
    border-color: #F89090;
    border-width: 10px;
  }


  @mixin test($size) {
      border: $size solid #000;
      font-size: $size!important;
      padding: $size;
  }

  .form-check-input{margin-left: 4px!important;}
  form div{
      &:nth-child(1){@include test(10px);}
      &:nth-child(2){@include test(1em);}
      &:nth-child(3){@include test(2em);}
  }